.codes {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 3%;
    gap: 25px;
    backdrop-filter: blur(10px);
}

.code_html {
    position: relative;
    height: 80%;
    background: #151718;
    width: 30%;
    padding: 20px;
}

.code_css {
    position: relative;
    height: 80%;
    background: #151718;
    width: 30%;
    padding: 20px;
}

.code_js {
    position: relative;
    height: 80%;
    background: #151718;
    width: 30%;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.dots {
    display: flex;
}

.dot {
    height: 20px;
    margin: 0 2px;
    width: 20px;
    border-radius: 100%;
}

.codeeditor {
    overflow: scroll;
    height: 93%;
    padding: 20px;
}

.codeeditor::-webkit-scrollbar {
    display: none;
}

.codeeditor p {
    white-space: pre-wrap;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: .8rem;
}

.copybtn {
    position: absolute;
    bottom: 1%;
    right: 1%;
    background: rgba(0, 0, 0, 0.288);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: .7rem;
}


.copybtn:hover {
    background: rgba(0, 0, 0, 0.842);
}
