.insert_table {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 48.4%;
    margin-top: 10.7%;
    justify-content: center;
    align-items: center;
}
::placeholder {
    color: rgba(255, 255, 255, 0.781);
}

.inputsnip {
    background: rgba(0, 0, 0, 0.63);
    padding: 11px 17px;
    color: white;
}

.inputsnipbig {
    background: rgba(0, 0, 0, 0.63);
    padding: 11px 17px;
    color: white;
    margin: 5px 0;
}

.selecter {
    background: rgba(0, 0, 0, 0.63);
    color: white;
    padding: 6px 12px;
    margin: 5px 0;
}

.inputbtn {
    background: rgba(0, 0, 0, 0.63);
    color: white;
    padding: 6px 12px;
    border: 1px solid white;
    margin-top: 5px;
    border-radius: 5px;
    transition: .2s;
}

.inputbtn:hover {
    background: white;
    color: black;
}