.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  padding: 30px 3%;
  gap: 10px;
  background: #635d5d;
  /* background: linear-gradient(90deg, rgba(99, 93, 93, 1) 0%, rgba(38, 89, 60, 1) 51%, rgba(0, 0, 0, 1) 100%); */
  min-height: 100vh;
  /* background-image: linear-gradient( 98.7deg,  rgba(34,175,245,1) 2.8%, rgba(98,247,151,1) 97.8% ); */
  background-image: linear-gradient( 98.7deg,  rgba(34,175,245,1) 2.8%, rgb(32, 74, 85) 97.8% );
}


.card {
  height: 400px;
  width: 400px;
  background: rgba(22, 22, 22, 0.459);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.center {
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articlecard {
  max-height: 90%;
  max-width: 90%;
  position: relative;
  min-width: 70%;
}

.articlecard .imgshower {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: normal;
}

.articlecard img {
  height: 100%;
  max-width: 100%;
}


.content {
  width: 100%;
  background-color: rgba(14, 13, 13, 0.671);
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  z-index: 6;
  color: rgba(255, 255, 255, 0.712);
  padding: 15px 0;
  border-radius: 10px;
}